:root {
    --purple: #52489C;
    --blue: #4062bb;
    --teal: #59c3c3;
    --white: #ebebeb;
    --red: #f45b69;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background-color: var(--white);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: content-box;
}

body {
    display: grid;

    grid-template-areas:
        "header"
        "content";
    grid-template-rows: 6rem 1fr;
}

header {
    grid-area: header;

    padding: 0;
    margin: 0;
    background-color: var(--purple);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 100%;
}

header h1 {
    padding: 0em;
    padding-bottom: 0.8rem;
    margin: 0;
}

header #tabs {
    display: flex;
    
    justify-self: end;
}

header #tabs div {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border: 0.05rem solid var(--white);
    border-bottom: 0px solid var(--white);
    width: 3.5rem;
    text-align: center;
}

header #tabs div.focus {
    background-color: var(--white);
    color: var(--purple); 
}



#content {
    grid-area: content;

    background-color: var(--white);

    display: flex;

    align-items: center;
    justify-content: center;
}

.article {
    background-color: var(--purple);

    width: 80%;
    max-width: 1920px;
    /* height: 90%; */

    padding: 3rem;
    padding-top: 1rem;
    margin: 2rem 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.article h4 {
    padding-top: 1rem;
    padding-bottom: 0rem;
    margin: 0.5rem;
}

.article img {
    width: 90%;
    max-width: 30rem;
    align-self: center;

    padding: 1rem 0;
    padding-top: 0;
}

.article p {
    margin: 0;
    padding: 0;

    max-width: 30rem;
}